{{!-- Main Page Template --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>MVC Tech Journal</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <nav class="navbar mt-2">
                <a href="/"><h1 class="has-text-black has-text-weight-bold px-3 py-3">MVC Tech Journal</h1></a>
                <div class="navbar-end">
                    {{#if loggedIn}}
                    <a href="/" class="navbar-item is-hoverable pt-1">Homepage</a>
                    <a href="/dashboard" class="navbar-item is-hoverable pt-1">Dashboard</a>
                    <a href="/dashboard/create/" class="navbar-item is-hoverable pt-1 mr-4">Create Post</a>
                    <button id="logout" class="button is-danger">Logout</button>
                    {{else}}
                    <a href="/" class="navbar-item is-hoverable pt-1">Homepage</a>
                    <a href="/login/"><button id="login" class="button is-primary">Login</button></a>
                    {{/if}}
                </div>
            </nav>
        </header>

        <br> 
        
        <main>
            {{{ body }}}
        </main>

        <footer class="footer rows pb-2">
            <div class="row-is-full content has-text-centered">
                <p>
                <a href="/"><i class="fa-solid fa-house"></i> Homepage</a>
                {{#if loggedIn}} |
                <a href="/dashboard">Dashboard</a> |
                <a href="/dashboard/create/">Create Post</a> 
                {{else}}
                    | <a href="/login/"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
                {{/if}}
                </p>
            </div>
            <div class="row-is-full content has-text-centered">
                <p>
                    Made with ❤️️ by <a href="https://github.com/jeffymiyoung" target="_blank">Jeffrey Young</a>
                    <br>
                    &copy; 2022 MVC Tech Journal Inc.
                </p>
            </div>
        </footer>
    </div>

    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>